<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 启用相关注解支持 -->
	<context:annotation-config />

	<!-- 扫描控制层的注解，使其成为Spring容器管理的Bean对象 -->
	<context:component-scan
		base-package="com.royal.abc.controller" />
	
	<mvc:annotation-driven />
	<!-- 静态资源文件 -->
	<mvc:resources mapping="/images/**" location="/images/" /> 
	<mvc:resources mapping="/img/**" location="/img/" /> 
	<!-- 视图解析器 -->
	<bean	id="DemoViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/pages/lehehe/" />
		<property name="suffix" value=".jsp" />
		<property name="order" value="2" />		
	</bean>
	<!--  --> 
	<bean	id="multipartResolver" 
			class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	<property name="maxUploadSize" value="10485760"></property>
	</bean>
	
</beans>